/* ---- reset ---- */

body {
    padding: 0;
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
    position: absolute;
    bottom: 0;
    top:0;
    display: block;
    vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #b61924;
    background-image: url("https://vignette.wikia.nocookie.net/mixels/images/2/2f/Hyperealistic_Gaben_Chat_Background.png/revision/latest?cb=20150810185233");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

/* ---- stats.js ---- */

.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats,
.count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}



.typewrite {
    position: absolute;
    top: 40%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    text-align: center;
    color:rgb(255, 255, 255);
    font-size: 100px;
}
img {
    position: absolute;
    top: 55%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
}